*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	width:100vw;
	padding:0 0 4em 0;
}
nav{
	width:90%;
	display:flex;
	margin:0 auto;
	background:grey;
	color:white;
	padding:1.5em;
	align-items:center;
	gap:2em;
}
nav h1{
	align-self:center;
	
}

nav form{
	margin-left:auto;
}
nav form input{
	font-size:1.1em;
	padding:0.4em;
	border-radius:15px;
}
nav a{
	
	font-size:1.5em;
	color:white;
	padding:.5em;
	border:2px solid white;
	border-radius:6px;
}
.sidebar{
	display:flex;
	flex-direction:column;
	gap:1em;
	background-color:aqua;
	padding:1em;
	max-height:620px;
	max-width:200px;
	width:100%;
	border-radius:4px;
	
}
.btn-sort{	
	display:flex;
	flex-direction:column;
	border-bottom:2px solid black;
	padding:1em 0;
	gap:1em;
}
.filter-btn{
	padding:.2em;
	font-size:1em;
	border-radius:4px;
}
.sidebar form{
	display:flex;
	flex-direction:column;
	gap:.3em;
}
.tag-list{
	display:flex;
	flex-direction:column;
	gap:.2em;
  height: 300px;
  overflow-y: scroll;
}
.authors{
	display:flex;
	flex-direction:column;
	gap:.2em;
	height: 80px;
  overflow-y: scroll;
}
.btn-sort a{
	text-decoration:underline;
}
.container{
	width:90%;
	display:flex;
	margin:0 auto;
	margin-top:2em;
	}
a{
	text-decoration:none;
	color:black;
}
span{
	display:flex;
	flex-wrap:wrap;
	gap:1em;
	width:100%;
}
.posts{
	border:2px solid grey;
	display:flex;
	margin:0 auto;
	max-width:550px;
	width:100%;
	border-radius:4px;
	max-height:45%;
	height:100%;
	box-shadow:4px 4px  grey;
}
.post{
	  
	width:100%;
	padding:.5em;
	display:flex;
	flex-direction:column;
	gap:1em;
}
footer{
	display:flex;
	position:absolute;
	bottom:7em;
	left:7em;
	right:7em;
}

footer a{
	padding:.8em;
	font-size:1.5em;
	border:2px solid black;
	color:black;
	border-radius:5px;
}
.next{
	margin-left:auto;
}
nav h1 a{
	border:none;
}
