*{
	margin:0;
	padding:0;
}

body{
	width:100vw;
}
nav{
	width:90%;
	display:flex;
	margin:0 auto;
	background:grey;
	color:white;
	padding:1.5em;
}
nav h1{
	align-self:center;
}
nav a{
	margin-left:auto;
	font-size:1.5em;
	color:white;
	padding:.5em;
	border:2px solid black;
}
.container{
	width:90%;
	display:flex;
	margin:0 auto;
	
	margin-top:2em;
	
}
a{
	text-decoration:none;
	color:black;
}
span{
	display:flex;
	flex-wrap:wrap;
	gap:1em;
	width:100%;
}
.posts{
	border:2px solid grey;
	display:flex;
	margin:0 auto;
	max-width:750px;
	width:100%;
}
.post{
	
	
	padding:.5em;
	display:flex;
	flex-direction:column;
	gap:1em;
}
footer{
	display:flex;
	position:absolute;
	bottom:7em;
	left:7em;
	right:7em;
}

footer a{
	padding:.8em;
	font-size:1.5em;
	border:2px solid black;
	color:black;
}
.next{
	margin-left:auto;
}

