<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/create.css}">
<title>Blog Application</title>
</head>
<body>
<nav>New post</nav>

<form class="container" th:object="${post}" action="create" method="post">
	<div>Enter title:<input type="text" th:field="*{title}" required placeholder="Enter title"></div>
	<div>Enter tags:<input type="text" th:field="*{tagField}" required placeholder="Enter tags seperated by ,(commas)" /></div>
	<div>Enter Content:<textarea class="content" required rows="30" cols="87" type="text" th:field="*{content}" placeholder="Enter Content" /></div>
	<div><a th:href="@{/}" th:text="'Go back'" ></a><input type="submit"></div>
</form>
</body></html>