<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<nav><h1>Login Page</h1></nav>
<div class="container" >
    <h1 th:if="${loginError!=null}" th:text="Error in username and password" />
  <form  action="/loginSubmit" method="POST">

    Input Username(email): <input type="text" name="email" placeholder="Input email">
    Input Password: <input type="password" name="password" placeholder="Input Password">
    <input type="submit" th:value="'Login'">
  </form>
    <a th:href="@{/register}" th:text="'Don\'t have an account? Sign up'" ></a>
</div>
<a class="home-btn" th:text="'<-- Go back to Home '" th:href="@{/}" ></a>
</body>
</html>