<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link th:href="@{/css/post.css}" rel="stylesheet" />
<title >Blog Application</title>
<style type="text/css">
.flex{
display:flex;
}
</style>
</head>
<body>
<nav><h1><a th:href="@{/}" >Blog App </a></h1>
<a th:href="@{/draft?start=0}" th:text="Draft"></a>
<form th:action="@{/}">
	<input name="search" placeholder="Enter Keyword to Search" />
	<input type="submit" value="Search">
</form>
<a th:href="@{/create}" th:text="'Add Post'"></a>


</nav>
<div class="container">
<div class="sidebar">
	
	<div class="btn-sort">
	<p>Sort by Publish Date:</p>
	<a th:href="@{/?sortField=publishedAt&order=asc}" th:text="Ascending"></a>
	<a th:href="@{/?sortField=publishedAt&order=dec}" th:text="Descending"></a>
	</div>
	<form action="/" >
	<div>
		<p>Authors:</p>
		<div class="authors">
		<span th:each="user:${userNames}">
		<input type="checkbox" name="authorId" th:text="${user.name}" th:value="${user.id}">
		</span>
		</div>
	</div>
	<div class="tags">
		<p>Tags:</p>
		<div class="tag-list">
		<span th:each="tag:${tagNames}">
		<input type="checkbox" name="tagId" th:text="${tag.name}" th:value="${tag.id}">
		</span>
		</div>
		
		<input type="submit" class="filter-btn" value="Filter Results">
	</div>
	</form>
</div>


<span >
	<div class="posts" th:each="post: ${posts}">
	<a class="post" th:href="@{/view(id=${post.id})}">
		<h1 th:text="${post.title}"></h1>
		<div class="flex">
		<p th:text="${post.author}+', '"> 
		
		<p th:text="${{post.createdAt}}">
		</div>
		<h4 th:text="${post.excerpt}"></h4>
	</a>
	</div> 
</span>
</div>


<footer th:if="${startIndex!=null}"> 
<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+'&limit='+${limit}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
<a class="next" th:href="@{'/?start='+${startIndex + limit}+'&limit='+${limit}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>
</footer>


<footer th:if="${filter!=null}"> 
<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+${filter}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
<a class="next" th:href="@{'/?start='+${startIndex + limit}+${filter}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>
</footer>

<footer th:if="${order!=null}"> 
<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+'&sortField=publishedAt&order='+${order}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
<a class="next" th:href="@{'/?start='+${startIndex + limit}+'&sortField=publishedAt&order='+${order}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>
</footer>

<footer th:if="${search!=null}"> 
<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+'&search='+${search}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
<a class="next" th:href="@{'/?start='+${startIndex + limit}+'&search='+${search}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>

</footer>
</body></html>