<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link th:href="@{/css/post.css}" rel="stylesheet" />
<title >Blog Application</title>
<style type="text/css">
.flex{
display:flex;
}
</style>
</head>
<body>
<nav>
	<a style="border: none" th:href="@{/}" ><h1 th:text="${loggedIn}?'Welcome, '+${userName}:'Blog App'"></h1></a>
<a th:if="${loggedIn}" th:href="@{/draft?start=0}" th:text="Draft"></a>
<form  action="/">
	<input name="search" placeholder="Enter Keyword to Search" />
	<span th:if="${filter!=null}" th:each="fil: ${authorIds}">
		<input type="hidden" name="authorId" th:value="${fil}"/>
	</span>
	<span th:if="${filter!=null}" th:each="fil: ${tagIds}">
		<input type="hidden" name="tagId" th:value="${fil}"/>
	</span>
	<input  type="submit" value="Search">
</form>

<a th:href="${loggedIn} ? '/create' :'/login'" th:text="'Add Post'"></a>
<a th:href="${loggedIn}? '/logout':'/login'" th:text="${loggedIn}?'Logout':'Login'"></a>

</nav>
<p class="searchResults" th:if="${search!=null}" th:text="'Showing Results for :  '+${search}" />
<div class="container">
<div class="sidebar">
	
	<div class="btn-sort">
	<p>Sort by Publish Date:</p>
		<a th:if="${filter == null && search != null}" th:href="@{'/?sortField=publishedAt&order=asc&search='+${search}}" th:text="Ascending"></a>
		<a th:if="${filter == null && startDate == null && search ==null}" th:href="@{/?sortField=publishedAt&order=asc}" th:text="Ascending"></a>
		<a th:if="${startDate != null}" th:href="@{'/?sortField=publishedAt&order=asc&startDate='+${startDate}+'&endDate='+${endDate}}" th:text="Ascending"></a>
		<a th:if="${filter != null}" th:href="@{'/?sortField=publishedAt&order=asc'+${filter}}" th:text="Ascending"></a>
		<a th:if="${filter!= null}" th:href="@{'/?sortField=publishedAt&order=desc'+${filter}}" th:text="Descending" ></a>

		<a th:if="${filter == null && search != null}" th:href="@{'/?sortField=publishedAt&order=desc&search='+${search}}" th:text="Descending"></a>
		<a th:if="${startDate != null}" th:href="@{'/?sortField=publishedAt&order=desc&startDate='+${startDate}+'&endDate='+${endDate}}" th:text="Descending"></a>
	<a th:if="${filter==null && startDate == null && search ==null}" th:href="@{/?sortField=publishedAt&order=desc}" th:text="Descending"></a>
	</div>
	<form class="date-form" action="/" >
		<div STYLE="margin-bottom: 5px">
			<p>Start Date:</p>
			<input type="date" name="startDate" />
			<p>End Date:</p>
			<input type="date" name="endDate" />
		</div>
			<input class="date-btn" type="submit" th:value="'>'">

	</form>
	<div>
	<form class="filter-form"  action="/">


	<div>
		<p>Authors:</p>
		<div class="authors">
			<input type="hidden" th:if="${search!=null}" name="search" th:value="${search}" />
		<span th:each="user:${userNames}">
		<input type="checkbox" name="authorId" th:text="${user.name}" th:value="${user.id}">
		</span>
		</div>
	</div>

	<div class="tags">
		<p>Tags:</p>
		<div class="tag-list">
		<span th:each="tag:${tagNames}">
		<input type="checkbox"   name="tagId"  th:text="${tag.name}" th:value="${tag.id}">
		</span>
		</div>
		
		<input type="submit" class="filter-btn" value="Filter Results">
	</div>
	</form>
	</div>
</div>


<span >
<!--	<h1 th:if="${#lists.size(posts)==0 && posts==null}" th:text="No records found"></h1>-->
	<div class="posts" th:each="post: ${posts}">
	<a class="post" th:href="@{/view(id=${post.id})}">
		<h1 th:text="${post.title}"></h1>
		<div class="flex">
		<p th:text="${post.author}+', 	'">
		
		<p th:text="${{post.publishedAt}}">
		</div>
		<h4 th:text="${post.excerpt}"></h4>
	</a>
	</div> 
</span>
</div>


<footer th:if="${startIndex!=null}"> 
<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+'&limit='+${limit}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
<a class="next" th:href="@{'/?start='+${startIndex + limit}+'&limit='+${limit}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>
</footer>

<footer th:if="${startDate!=null && endDate!=null}" >
	<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+'&limit='+${limit}+'&startDate='+${startDate}+'&endDate='+${endDate}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
	<a class="next" th:href="@{'/?start='+${startIndex + limit}+'&limit='+${limit}+'&startDate='+${startDate}+'&endDate='+${endDate}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>

</footer>
<footer th:if="${filter!=null && order==null && search==null}">
<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+${filter}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
<a class="next" th:href="@{'/?start='+${startIndex + limit}+${filter}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>
</footer>

<footer th:if="${order!=null && filter!=null}">
<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+'&sortField=publishedAt&order='+${order}+${filter}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
<a class="next" th:href="@{'/?start='+${startIndex + limit}+'&sortField=publishedAt&order='+${order}+${filter}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>
</footer>

<footer th:if="${order!=null && filter==null}">
	<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+'&sortField=publishedAt&order='+${order}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
	<a class="next" th:href="@{'/?start='+${startIndex + limit}+'&sortField=publishedAt&order='+${order}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>
</footer>


<footer th:if="${search!=null && filter==null}">
	<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+'&search='+${search}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
	<a class="next" th:href="@{'/?start='+${startIndex + limit}+'&search='+${search}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>

</footer>
<footer th:if="${search!=null && filter!=null}">
<a th:href="@{'/?start='+${startIndex - limit < 0 ? 0 : startIndex - limit}+'&search='+${search}}" th:text="'Previous'" th:if="${startIndex > 0}"></a>
<a class="next" th:href="@{'/?start='+${startIndex + limit}+'&search='+${search}+${filter}}" th:text="'Next'" th:if="${startIndex+limit <= totalElements-1}"></a>

</footer>


</body></html>