<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Blog Application</title>
<link th:href="@{/css/update.css}" rel="stylesheet" />
<style type="text/css">
.flex{
display:flex;
}
</style>
</head>
<body>
<nav><h1>Blog App</h1></nav>
<form th:object="${blog}" action="update" method="POST">
    <input type="hidden" th:field="*{id}" />
	<div>Enter new Title:<input th:field="*{title}" /></div>
	<div>Enter/edit tags:<input th:field="*{tagField}" /></div>
	<div>Update Content:<textarea rows="40" cols="50"  th:field="*{content}" /></div>
	<div class="buttons">
	<a th:href="@{/view(id=${blog.id})}" th:text="'Go Back'" />
	<input value="Update Post" type="submit" />
	</div>

</form>
</body>
</html>