<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Blog Application</title>
<link rel="stylesheet" th:href="@{/css/view.css}" >

</head>
<body>
<div class="container">
<div class="actions">
<a th:href="@{/}" th:text="Home" />
<a th:if="${isAuthor}" class="menu" th:href="@{/update(id=${id})}" th:text="update" />
<a th:if="${isAuthor}" th:href="@{/delete(id=${id})}" th:text="delete" />
</div>
<form th:object="${blog}">
	<h1 th:text="*{title}"></h1>
	<div class="flex">
		<p th:text="*{author}+','"> 
		<p> </p>
		<p th:text="' '+*{createdAt}">
		</div>
		<div class="tags">Tags : 
		<div th:each="tag : *{tags}" >
			<p th:text="'#'+${tag.name}" >
		</div>
		</div>
	<h2 th:text="*{content}"></h2>
	<div class="comments-section">
<h3> Comments--</h3>
<span class="comment">
	<div th:each="com : *{comments}" >
	<div th:if="${com.id!=commentId}" class="">
		<p th:text="${com.email}">
		<p th:text="${com.name}">
		<h4 th:text="'Comment: '+${com.comment}"></h4>
	</div>	
	<a th:if="${isAuthor}" th:href="@{/view(commentId=${com.id})}+'&id='+${id}" th:text="Update" />
		<a th:if="${isAuthor}" th:href="@{/comment/delete(id=${com.id})}" th:text="Delete" />
	</div>
	
	</span>
	</div>
</form>

<form th:if="${commentId==null}" th:action="@{/comment/add(id=${id})}" th:object="${newcomment}" method="POST">
	Enter Name: <input required type="text" th:field="*{name}" />
	Enter Email: <input required type="email" th:field="*{email}" />
	Enter Comment: <textarea rows="6" cols="20" class="comment" type="text" th:field="*{comment}" />
	<input type="submit" value="Add comment" />
</form>
<form th:if="${commentId!=null}" th:action="@{/comment/add(id=${id})}+'&commentId='+${commentId}" th:object="${newcomment}" method="POST">
	Enter Name: <input required type="text" th:field="*{name}" />
	Enter Email: <input required type="email" th:field="*{email}" />
	Enter Comment: <textarea rows="6" cols="20" class="comment" type="text" th:field="*{comment}" />
	<input type="submit" value="Update comment" />
</form>
</div>
</body>
</html>